$base-background-color: #EFEFEF;
$light-background-color: #FFFFFF;
$base-accent-color: #66C05D;

$base-font-color: #333333;
$light-font-color: $light-background-color;
$accent-font-color: $base-accent-color;
$second-font-color: #C4C4C4;
$additional-font-color: #828282;

$base-width: 1110px;
